.about-content {
  background-color: white;
  height: 170vh;
  width: 100%;
  // margin-left: 15%;
  margin-top: 10%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: $sig-green;
  letter-spacing: 1px;
  .about-header {
      margin-top: 160px;
      text-align: center;
      font-size: 41px;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 100;
      color: $sig-green;
      letter-spacing: 3px;
  }
  .about-text {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.5;
  }
  .trophy {
    border-radius: 10px;
    margin-left: 40%;
    width: 20%;
    height: auto;
  }
  img {
    border-radius: 10px;
    margin-left: 25%;
    width: 50%;
    height: auto;
  }
}