.leaderboard-content {
  height: 200vh;
}


.leaderboards-header {
  margin-top: 160px;
  text-align: center;
  font-size: 41px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: $sig-green;
  letter-spacing: 3px;
}

.sub-heading {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: $sig-green;
  letter-spacing: 3px;
}

.leaderboard-button {
  width: 200px;
  padding: 5px;
  border-radius: 10px;
  color: #003f2a;
}

.table-one {
  color: #003f2a;
  border: 1px solid #003f2a;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  width: 90%;
  height: 400px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  line-height: 1.2;
}

.yellow-jersey {
  padding: 5px;
  background-color: gold;
  border-radius: 100px;
}

.second {
  padding: 5px;
  background-color: silver;
  border-radius: 100px;
}

.third {
  padding: 5px;
  background-color: #cd7f32;
  border-radius: 100px;
}
